.attribution { 
    font-size: 11px; 
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: hsl(212, 45%, 89%);
}
img{
    margin-right: auto;
    margin-left: auto;
    width: 370px;
    height: auto;
    border-radius: 15px;
}
.outfit{
    width: 43%;
    max-width: 370px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 35px;
}
.outfit p{
    font-size: 21px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}
h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.outfit h1, p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}